<div class="containerr">
    <img src="assets/logo-savit-white.png" class="app-logo center" [routerLink]="['/home']">
</div>

<!--  <p>{{ content }}</p> -->


<div style="justify-content: center; display: flex;">
    <p class="savit-intro-text">Order food at the cafeteria is now at your fingertips. Order on the go smartly with SAVIT</p>

</div>


<div style="justify-content: center; display: flex; margin-top:16px;">
    <div class="user-buttons-div">
        <button mat-flat-button class="login-button">Login</button>
        <button mat-flat-button class="register-button">Create an Account</button>
    </div>
</div>

